.nav-side
{
    background-color: transparent;
    color: white;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-side .sections {
    width: 25px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.nav-side a {
    color: black;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    background-color: white;
    padding: 5px;
    border: 1px black;
}


.nav-side a:hover {
    background-color: white;
    color: var(--background);
    font-size: large;
}

.nav-side a:visited {
    background-color: white;
    color: var(--background);
}

.nav-side a:focus {
    color: white;
    background-color: var(--background);
}

.nav-side a:focus:hover {
    color: white;
    background-color: var(--background);
    font-size: large;
}
