header
{
    background-color: var(--strips);
    color: white;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: small;
}

.nav-top {
    margin: 5px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    padding-right: 80px;
}

.sek-num {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.sections {
    margin: 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.sections a {
    color: white;
    width: 80px;
    height: 20px;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    font-size: large;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.sek-num a {
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    border-radius: 8px;
    padding: 5px;
}

.nav-top a:hover {
    box-shadow: 5px 5px 5px var(--background);
    font-size: x-large;
}

.nav-top a:visited {
    color: white;
}

.nav-top a:focus {
    color: var(--background);
    background-color: white;
}

@media only screen and (min-width: 600px) {
    .sek-num {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px){
    .sections {
        display: none;
    }
}