/* */
:root {
    --background: #00071C;
    --containers: #00103D;
    --strips: #00103D;
}

footer {
	background-color: var(--strips);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: white;
    font-size: medium;
    background-color: var(--background);
    height: 100%;
    margin: 0;
}

.container {
    padding-top: 30px;
	background-color: var(--containers);
    min-height: 100vh;
}

hr.newstyle {
    border: 1px dotted white;
}

.front-page {
    background-image: url('pictures/AdobeStock_414496512.jpeg');
    height: calc(100vh - 50px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}